<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="system.serviceModel">
            <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowDefinition="MachineToApplication" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <!--需要配置变量-->
  <appSettings>
    <!--数据库连接参数-->
    <add key="PostgresConnectionStr" value="Server=10.2.1.103;uid=postgres;pwd=123456;Database=irisNewAttend20141110;"/>
    <!--服务IP地址-->
    <add key="ServerIP" value="10.2.1.103"/>
    <!--服务端口号-->
    <add key="ServerPort" value="9988"/>
    <!--软件应用类型是否为矿山 true为矿单位  false为非矿单位-->
    <add key ="IsMine" value="true"/>
    <!--是否显示手动补加识别记录显示状态 0：手动补加识别记录列显示,手动补加识别记录行用浅色表示
                                         1: 手动补加识别记录列不显示,手动补加识别记录行用浅色表示 
                                         2：手动补加识别记录列不显示,手动补加识别记录行不用浅色表示-->
    <add key ="IsShowRecogType" value="1"/>

    <!--备份数据库服务端口号-->
	  <add key="BackupServerPort" value="4530"/>    
    <!--应用软件类型-->

    <add key="AppType" value="YangMeiApp"/>

    

    <!--是否支持签到班、班次记公时 0 否不支持 1 支持签到班、 2支持记工时班次 -->
    <add key="SupportClassOrderSign" value="2"/>


    <add key="SqlServerConnectionStr" value="Data Source=10.2.1.103;Password=Iris_123;Persist Security Info=True;User ID=sa;Initial Catalog=CollierTrack_NET;"/>
    
    <add key="InErrorMinutes" value="10"/>

    <add key="OutErrorMinutes" value="30"/>
  
  </appSettings>
  
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="DomainServiceModule" preCondition="managedHandler"
                type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <system.web>
      <!--<globalization requestEncoding="GB2312" responseEncoding="GB2312" culture="zh-CN" fileEncoding="GB2312"/>-->
        <httpModules>
            <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </httpModules>
        <compilation debug="true" targetFramework="4.0" />
      
    </system.web>

    <system.serviceModel>
      
      <services>
        <service name="IriskingAttend.Web.DomainServiceIriskingAttend" behaviorConfiguration="IriskingAttend.Web.DomainServiceIriskingAttend"></service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="IriskingAttend.Web.DomainServiceIriskingAttend">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="true" />
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            <serviceTimeouts transactionTimeout="00:05:00" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
        <domainServices>
            <endpoints>
                <add name="OData" type="System.ServiceModel.DomainServices.Hosting.ODataEndpointFactory, System.ServiceModel.DomainServices.Hosting.OData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </endpoints>
        </domainServices>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />   
    </system.serviceModel>

  <!--<globalization requestEncoding="GB2312" responseEncoding="GB2312" culture="zh-CN" fileEncoding="GB2312"/>-->
</configuration>
